* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-size: 12px;
    background-color: white;
}
.body-container {
    display: flex;
}
.top-image {
    background-size: cover;
    background-color: #18121e;
    height: 100vh;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    color: white;
}
.about-header{
    background-color: #233237;
    align-items: center;
    height: 20vh;
    justify-content: center;
    color: white;
    flex-direction: column;
    padding: 1em;
}
.about-section {
 background-color: whitesmoke;
display: inline-flex;
height: 100vh;
width: 100%;
    justify-content: center;
}
.projects-header{
     background-color: #984b43;
    align-items: center;
    height: 20vh;
    justify-content: center;
    color: white;
    flex-direction: column;
    padding: 1em;
}
.projects {
  background-color: #d9d9d9;
height: 100vh;  
width: 100%;
}
@media only screen and (min-width: 450px) {
    body {
        font-size: 20px;
    }
    .about-header {
        padding: 9em;
    }
}