* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container-fluid{
    height: 100%;
}
.bg-1 {
    background-color: #0b2c5c;
    color: #ffffff;
    height: 100vh;
    padding-top: 5em
}
.bg-2 {
height: 6em;
    

}
.bg-3 {
    height: 50em;
 background-color: azure;   
}
.bg-4 {
    height: 50em; 
    background-color: aqua;
}
.bg-5{
     height: 50em;
 background-color: azure;
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999!important;
}
.affix + .container-fluid {
    padding-top: 70px;
}
.navbar-nav {
    background-color: aqua;
    border-color: aqua;
}