* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #d9d9d9;
}
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    width: 100%;
    justify-content: center;
    height: 100vh;
}
.nav {
   background-color: #0b2c5c;
    width: 100%;
    height: 6em;
    left: 0px;
    text-align: center;
    color: white;
    font-family: 'Poiret One', cursive;
    padding: 1em;
    font-size: 1.5em;
}
.content {
    background-color: #d9d9d9;
    height: 100vh;
    width: 100%;
    padding: 1em;
    font-family: 'Open Sans', sans-serif;
    flex-direction: 
}
.footer {
    background-color: #233237;
    width: 100%;
    height: 30px;
    bottom: 0px;
    text-align: center;
    color: white;
    padding: 0.2em;
    font-family:monospace;
    position:static;
}
@media only screen and (min-width: 675px) {
    .content{
        padding-left: 25%;
        padding-right: 25%;
    }
}