* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  display: flex;
  flex-wrap: wrap;
}
.section{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
     background-image: url(images/AWlinewhite.svg);
    display: inline-block;
    background-repeat: no-repeat;
    flex: auto;
    background-color: #0b2c5c;
}
.menu:hover {
background-image: url(images/AWcolour.svg);
}
.sect-1{
    background-color: whitesmoke;
}
.sect-1-cont{
    background-color: blue;
}
.sect-2{
    background-color: #0b2c5c;
}

@media only screen and (min-width: 900px){
    .section {
    height: 30vh;
    }
    .menu{
        height: 20vh;
    }
}
    