* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  display: flex;
  flex-wrap: wrap;
}
.frame {
    width: 100%;
    height: 100%;
}
.section {
    height: 33vh;
    width: 100%;
}
.one {
    background-color: #0b2c5c;
}
.two {
    background-color: #0b2c5c;
    
}
.three {
    background-color: #0b2c5c;
}
.four {
    background-color: #0b2c5c;
}

.menu{
     background-image: url(images/AWlinewhite.svg);
    display: inline-block;
    background-repeat: no-repeat;
    flex: auto;
    background-color: #0b2c5c;
}
.menu:hover {
background-image: url(images/AWcolour.svg);
}