img.container {
    @media and
}
. container {
    
}
.jumbotron {
    overflow: hidden;
}
.alexwatman {
    background-color: #000;
    color:#fff;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    position: fixed;
    width: 100%;
    opacity: 75%;
}
li {

    float:left;
    font-family: "Helvetica";
    
}
li a {
    display: block;
    padding: 5px 30px;
    color:#FFF; 
    
}
li a:hover {
    background-color: blanchedalmond;
}
.scroll {
    overflow: scroll;
}
.body {
    overflow: visible;
}