
/* page set up
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/
.page {
    margin: 0px;
    padding:0px;
    height: 100vh;
    box-sizing:inherit; 
    background-color: #0b2c5c;
    background-size: cover;
}
.logo {
    
}
.logo-on-hover {
    display: block;
}

#logo-hover:hover {
    display: none;
}