h1 {
   color:#000000;
   font-family: "Garamond";
}
p {
    color:#000;
    font-family: "Helvetica";
}
li {
    display: inline;
    font-size: 15px;
    font-family: "Garamond";
}
.jumbotron {
    padding: 10px;
}