* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  display: flex;
  flex-wrap: wrap;
    padding-top: 2em;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: #5995DA;
  height: 2em;
    width: 100%;
    position: fixed;
}
.body {
    background-color: pink;
    height: 70em;
}
.img-header{ 
    max-width: 400px;
    display: flex;
}
@media only screen and (min-width: 400px){
    .body {
        padding-left: 2em;
        padding-right: 2em;
    }
}
@media only screen and (min-width: 650px){
     .page {
         padding-left: 2em;
        padding-right: 2em;
    }
    .image-header{
        max-width: 33%;
        flex: initial;
    }
    .body,
}