* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.headbar{
    height: 3em;
    background-color: white;
    border-bottom: solid;
    border-bottom-color: black;
    flex-wrap: wrap;
}
.header {
    height: 3em;
    padding: 0.8em;
    font-family:monospace;
    
}

.main{
    height: 80vh;
    background-color: cornflowerblue;
}
.main-2{
    height: 100vh;
    background-color: aliceblue;
}
.content{
    height: 80vh;
    padding-right: 0.8em;
    padding-left: 0.8em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.content-2{
    height: 100vh;
    padding-right: 0.8em;
    padding-left: 0.8em;
    padding-top: 1em;
    padding-bottom: 1em;
}